<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ford</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  
</head>
<body>

        <header>
            
            <section class="navigation">
                <div class="nav-container">
                  <div class="brand">
                    <a href="#!"><img src="img/logo1.png" alt="FORD" srcset="" class="nav-logo"></a>
                  </div>
                  <nav>
                    <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <div class="dropdown">
                            <div id="myDropdown" class="dropdown-content">
                              <a href="#home">Home</a>
                              <a href="#about">About</a>
                            </div>
                          </div>
                    </ul>
                  </nav>
                </div>
              </section>
        </header>

    <article>

        <div class="heading">
            <h1 class="main-heading">Ford
                <h3>Built tough </h3>
            </h1>
        </div>

        <div class="article">
            <div class="img-text">
                <div class="image">
                    <img src="img/1-1.jpg" alt="Ford Expedition" srcset="" class="image-1">
                </div>
                <div class="text">
                  <h2>Ford Expedition</h2>

                    <p>
                      Power, style and plenty of space for passengers and cargo give the 2021 Ford Expedition its swagger and imposing presence on the road. Equipped with the available Heavy-Duty Trailer Tow Package.* Add to that an available premium B&O Sound System by Bang and Olufsen, available heated and ventilated seating and plenty of tech to keep you confident and connected on the road. The 2021 Expedition also features the legendary King Ranch® trim, as well as the attention-grabbing Stealth Edition, Texas Edition and available FX4 Off-Road Package. It’s the one and only Ford Expedition and it’s Built Ford Proud.
                    </p>
                </div>
            </div>

            <div class="img-text">
                <div class="image">
                    <img src="img/2-2.jpg" alt="Ford Mustang" srcset="" class="image-1">
                </div>
                <div class="text">
                    <h2>Ford Mustang</h2>
                    <p>
                      Hear the roar of a Mustang as the ground starts to tremble and your legs start to shake. As always, Mustang calls upon its performance roots with features for enhanced handling, high-powered engine options and classic Mustang design. New for 2021, the soul-stirring Mustang Mach 1 and Mach 1 Premium stand at the pinnacle of 5.0L performance. The completely customizable Mach 1 continues its legacy, engineered specifically for quick turns and spirited drives.                    </p>
                </div>
            </div>

            <div class="img-text">
                <div class="image">
                    <img src="img/3-3.jpg" alt="Ford F150 Raotor" srcset="" class="image-1">
                </div>
                <div class="text">
                  <h2>Ford F150 Raotor</h2>
                    <p>
                      When the road diverges, a true off-roader goes right down the middle. The 2021 F-150 Raptor is equipped to take on punishing terrain that would be off-limits to a conventional 4-wheeler. * Next-generation FOX™ shocks with Live Valve technology are the largest ever shocks on Raptor. The internal bypass technology features an electronic solenoid valve that provides active damping. Plus, the Raptor is available with massive 37” BFGoodrich® All Terrain T/A® KO2 tires.
                    </p>
                </div>
            </div>

            <div class="img-text">
                <div class="image">
                    <img src="img/4-4.jpg" alt="Ford Explorer" srcset="" class="image-1">
                </div>
                <div class="text">
                  <h2>Ford Explorer</h2>
                    <p>
                      The Ultimate Exploration Vehicle
                      The 2022 Ford Explorer is primed for modern-day exploration. Its adjustable interior offers space and comfort for the whole family. And it helps you make the most of every experience with connected technology and an athletic build that’s ready for whatever lies ahead.
                    </p>
                </div>
            </div>
        </div>

    </article>

        <footer>
            <div class="footer-content">
                
                    <a href="#!"><img src="img/logo1.png" alt="" srcset="" class="nav-logo"></a>
                  
                <p>Electrifying a New Generation
                  Join the revolution of all-electric iconic vehicles designed with the passion and exhilaration you’ve come to expect from the visionaries and engineers at Ford. Discover more on how Ford is creating an electrifying union of clean, cutting-edge technology and exciting modern design.</p>
                <ul class="socials">
                    <li><a href="https://www.facebook.com/ford/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/Ford?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/user/fordvideo1"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.ford.com/"><i class="fas fa-car"></i>></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>    <br>&copy; 2021, Munayem ahad <br>  </p>
                        <div class="footer-menu">
                          <ul class="f-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="/about">About</a></li>
                          </ul>
                        </div>
            </div>
    
        </footer>
        
        <style>
           
            .dropbtn {
              background-color: #3498DB;
              color: white;
              padding: 16px;
              font-size: 16px;
              border: none;
              cursor: pointer;
            }
            
            .dropbtn:hover, .dropbtn:focus {
              background-color: #2980B9;
            }
            
            .dropdown {
              position: relative;
              display: inline-block;
            }
            
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f1f1f1;
              min-width: 160px;
              overflow: auto;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
            }
            
            .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
            }
            
            .dropdown a:hover {background-color: #ddd;}
        
            .show {display: block;}
            
            </style>



        <script>
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }
            
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>
  
</body>
</html>